html,body{
    height: 100%;
    margin: 0;
    padding: 1em;
    background-color: #F5F5F5;
}

.picture{
    padding: 35px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    float: left;

}
.picture:hover{
    transform: scale(1.5);
}
.container{
    width: 500px;
}


.addProdInputForm{
    width: 20%;

}
.itemNumber{

}
.card{
    float: left;
    width: 76%;
    padding: 5px;
    margin-right: 1%;
    margin-left: 1%;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.price{
    font-size: 25px;
    color: #46434A;

}

.itemNumber{
    color: white;
}